<a href="https://colab.research.google.com/github/SidneyZaref/IST210/blob/master/Group_Assignment_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image](https://raw.githubusercontent.com/taravosborne/IST-210/master/Images/Group%20Assignment%20FNF2.png)

In [ ]:
% load_ext sql
%sql sqlite:///electiondatabase.db

'Connected: @electiondatabase.db'

In [ ]:
%%sql
create table pollingLocation (LocationID text PRIMARY KEY, state text, country text, building text);
create table election (ElectionID text PRIMARY KEY, candidates text, pollingLocation text, ballotsAccepted real);
create table ballot (BallotID text PRIMARY KEY, mailIn text, absentee text, inPerson text);
create table candidate (CandidateID text PRIMARY KEY, firstName text, lastName text, campaign text);
create table politicalParty (PartyID text PRIMARY KEY, Democrat text, Republican text, Independent text);
create table campaign (Campaign ID text PRIMARY KEY, candidate text, targetAudience text, estimatedcost real);

 * sqlite:///electiondatabase.db
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql
insert into pollingLocation values ("110", "Pennsylvania", "Centre County", "Bryce Jordan Center");
insert into pollingLocation values ("120", "New Jersey", "Apple County", "Forum Building");
insert into pollingLocation values ("130", "Massachusetts", "Banana County", "Paterno Library");
insert into pollingLocation values ("140", "Florida", "Orange County", "HUB");
insert into pollingLocation values ("150", "Texas", "Lemon County", "Old Main");

insert into election values ("SZ1230", "Sidney Zaref", "1", 40000);
insert into election values ("TO4560", "Tara Osborne", "2", 50000);
insert into election values ("JD7890", "Jared Dollesin", "3", 60000);
insert into election values ("JD0980", "Jane Doe", "4", 70000);
insert into election values ("JS7650", "John Smith", "5", 80000);

insert into ballot values ("010", "Mail in", "N/A", "N/A");
insert into ballot values ("020", "N/A", "Absentee", "N/A");
insert into ballot values ("030", "N/A", "N/A", "In person");
insert into ballot values ("040", "Main in", "N/A", "N/A");
insert into ballot values ("050", "N/A", "Absentee", "N/A");

insert into candidate values ("SJZ010", "Sidney", "Zaref", "12345");
insert into candidate values ("TBO020", "Tara", "Osborne", "67890");
insert into candidate values ("JHD030", "Jared", "Dosselin", "87654");
insert into candidate values ("JUD040", "Jane", "Doe", "32456");
insert into candidate values ("JFS050", "John", "Smith", "67120");

insert into politicalParty values ("PolPar1", "Democrat", "N/A", "N/A");
insert into politicalParty values ("PolPar2", "N/A", "Republican", "N/A");
insert into politicalParty values ("PolPar3", "N/A", "N/A", "Independent");
insert into politicalParty values ("PolPar4", "Democrat", "N/A", "N/A");
insert into politicalParty values ("PolPar5", "N/A", "Republican", "N/A");

insert into campaign values ("123450", "SJZ01", "everyone", 300000);
insert into campaign values ("678900", "TBO02", "young", 400000);
insert into campaign values ("876540", "JHD03", "old", 500000);
insert into campaign values ("324560", "JUD04", "everyone", 600000);
insert into campaign values ("671200", "JFS05", "young", 700000);

 * sqlite:///electiondatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
SELECT * from pollingLocation;

 * sqlite:///electiondatabase.db
Done.

[('110', 'Pennsylvania', 'Centre County', 'Bryce Jordan Center'),
 ('120', 'New Jersey', 'Apple County', 'Forum Building'),
 ('130', 'Massachusetts', 'Banana County', 'Paterno Library'),
 ('140', 'Florida', 'Orange County', 'HUB'),
 ('150', 'Texas', 'Lemon County', 'Old Main')]

In [ ]:
%%sql
SELECT * from election;

 * sqlite:///electiondatabase.db
Done.

[('SZ1230', 'Sidney Zaref', '1', 40000.0),
 ('TO4560', 'Tara Osborne', '2', 50000.0),
 ('JD7890', 'Jared Dollesin', '3', 60000.0),
 ('JD0980', 'Jane Doe', '4', 70000.0),
 ('JS7650', 'John Smith', '5', 80000.0)]

In [ ]:
%%sql
SELECT * from ballot;

 * sqlite:///electiondatabase.db
Done.

[('010', 'Mail in', 'N/A', 'N/A'),
 ('020', 'N/A', 'Absentee', 'N/A'),
 ('030', 'N/A', 'N/A', 'In person'),
 ('040', 'Main in', 'N/A', 'N/A'),
 ('050', 'N/A', 'Absentee', 'N/A')]

In [ ]:
%%sql
SELECT * from candidate;

 * sqlite:///electiondatabase.db
Done.

[('SJZ010', 'Sidney', 'Zaref', '12345'),
 ('TBO020', 'Tara', 'Osborne', '67890'),
 ('JHD030', 'Jared', 'Dosselin', '87654'),
 ('JUD040', 'Jane', 'Doe', '32456'),
 ('JFS050', 'John', 'Smith', '67120')]

In [ ]:
%%sql
SELECT * from politicalParty;

 * sqlite:///electiondatabase.db
Done.

[('PolPar1', 'Democrat', 'N/A', 'N/A'),
 ('PolPar2', 'N/A', 'Republican', 'N/A'),
 ('PolPar3', 'N/A', 'N/A', 'Independent'),
 ('PolPar4', 'Democrat', 'N/A', 'N/A'),
 ('PolPar5', 'N/A', 'Republican', 'N/A')]

In [ ]:
%%sql
SELECT * from campaign;

 * sqlite:///electiondatabase.db
Done.

[('123450', 'SJZ01', 'everyone', 300000.0),
 ('678900', 'TBO02', 'young', 400000.0),
 ('876540', 'JHD03', 'old', 500000.0),
 ('324560', 'JUD04', 'everyone', 600000.0),
 ('671200', 'JFS05', 'young', 700000.0)]

1. Which campaign spent the most money in descending order?

In [ ]:
%%sql
SELECT * from campaign ORDER BY estimatedcost DESC;

 * sqlite:///electiondatabase.db
Done.

[('671200', 'JFS05', 'young', 700000.0),
 ('324560', 'JUD04', 'everyone', 600000.0),
 ('876540', 'JHD03', 'old', 500000.0),
 ('678900', 'TBO02', 'young', 400000.0),
 ('123450', 'SJZ01', 'everyone', 300000.0)]

This question is important as it may help studies looking into how much each campaign spent over the course of the election get better data. Additionally, future candidates could use this information to get a better idea of about how much it would cost for them to run a campaign. The results returned from this question were expected.

2. How many candidates recieved between 50000 AND 70000 ballots?

In [ ]:
%%sql
SELECT Count(ElectionID) from election WHERE ballotsAccepted between 50000 AND 70000;

 * sqlite:///electiondatabase.db
Done.

[(3,)]

The reason this question is important is that we could use this question to get a better idea of how many candidates got a number of votes within this range. As such, we could use this info in a study to figure out how many candidates were truly competitive. Additionally, this question could simply be used for easier organization of candidates. The result of this question was esxected.

3. Find all candidates who have a J in their first name.

In [ ]:
%%sql
SELECT * from candidate WHERE firstName LIKE "J%";

 * sqlite:///electiondatabase.db
Done.

[('JHD030', 'Jared', 'Dosselin', '87654'),
 ('JUD040', 'Jane', 'Doe', '32456'),
 ('JFS050', 'John', 'Smith', '67120')]

This question is important as it makes organizing candidates much easier, as we could repeat this question multiple times with different letters in order to group every candidate based on the first letter of their first name. This would be much more helpful in a situation that dealt with more candidates than we have listed here. The results of this question were what we expected.